body{
	background-color: #333333;
}

.App {
  text-align: center;
}

.questionDisplay{
	color: #aaaaaa;
	font-size: 50pt;
    padding: 20px;
    font-weight: bold;
    font-family: helvetica, arial;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
